extends layout

block content
    #main-content.container
        #featured-container.row
            .my-slider
                ul
                    li
                        each feature in features
                            .feature
                                .feature-callout
                                     .feature-title-container.flex-row.flex-centered
                                         .feature-title Achoo!
                                         .feature-year (2016)
                                     .feature-director-container.flex-row.flex-baseline
                                         .feature-by by
                                         .feature-director Lauren Schechter
                                     .feature-studio UC Santa Cruz
        include footer
    script(src="/javascripts/index.js")