extends layout

block content
  h1= films[0].title
  p#movie_title Welcome to Your mom
  video(width="1920", height="1080", controls)
    source(src=films[0].video, type="video/mp4")
  script(src="/javascripts/index.js")