extends layout

block content
  each film in films
    h1= film.title
    p= film.description
    video(width="1280", height="720", controls)
      source(src=film.video, type="video/mp4")
    script(src="/javascripts/index.js")