body {
    background: #000;
    font-family: Courier, "Times New Roman", serif;
    color: black;
}

@font-face {
    font-family: Revolution;
    src: url(../fonts/Revolution.ttf);
}

.wrapper {
    width: 980px;
    margin: auto;
    position: relative;
}

.container {
    width: 980px;
}

.full-width {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-baseline {
    align-items: baseline;
}

.flex-centered {
    align-items: center;
}

#nav-content {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

#nav {
    height: 100px;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 56%,rgba(0,0,0,0.5) 100%);
}

#logo {
    width: 70px;
    height: 70px;
    margin-left: 15px;
}

#main-content {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 0px;
}

#featured-container {
    margin-bottom: 40px;
}

.feature {
    height: 500px;
    position: relative;
    cursor: pointer;
}

.feature-callout {
    position: absolute;
    top: 140px;
    left: 80px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 20px;
    border-radius: 4px;
}

.feature-title {
    font-size: 30pt;
    max-width: 300px;
    line-height: 1;
}

.feature-year {
    color: #F4B94B;
    font-size: 15pt;
}

.feature-by {
    font-size: 10pt;
}

.feature-director {
    font-size: 18pt;
    color: #C06455;
    margin-left: 10px;
}

.feature-studio {
    color: #1D8E95;
    font-size: 15pt;
}

.genre-row {
    position: relative;
    width: 100%;
    height: 440px;
}

.heading-bar {
    height: 57px;
    background-color: #1D8E95;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.heading-title {
    margin-left: 70px;
    color: white;
    font-family: Revolution, "Helvetica Neue", Arial, sans-serif;
    font-size: 20pt;
}

.heading-diagonal-left {
    height: 57px;
    width: 57px;
    background: linear-gradient(135deg, rgba(29,142,149,1) 0%,rgba(29,142,149,1) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 57px;
    left: 0px;
    z-index: 10;
}

.heading-diagonal-right {
    height: 57px;
    width: 57px;
    background: linear-gradient(225deg, rgba(29,142,149,1) 0%,rgba(29,142,149,1) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 57px;
    right: 0px;
    z-index: 10;
}

.movie-scroll {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

.left-fader {
    position: absolute;
    height: 376px;
    width: 30px;
    top: 57px;
    left: 0px;
    z-index: 5;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
}

.right-fader {
    position: absolute;
    height: 376px;
    width: 30px;
    top: 57px;
    right: 0px;
    z-index: 5;
    background: linear-gradient(to left, rgba(0,0,0,1) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
}

.film-container {
    width: 224px;
    height: 348px;
    margin: 0px 15px;
    float: left;
    padding-top: 20px;
}

.film {
    width: 204px;
    height: 308px;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 0px 0px 35px 0px rgba(244,185,75,1);
    border-radius: 10px;
    padding-top: 10px;
    transition: background-size 2s ease;
    position: relative;
    text-align: center;
}

.film:hover {
    background-size: 120% 120%;
}

.film a {
    font-size: 50pt;
    text-decoration: none;
    color: #F4B94B;
    transition: color 1s;
}

.film a:hover {
    color: #1D8E95;
}

.overlay {
    width: 204px;
    height: 308px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    background:rgba(0,0,0,.75);
    transition: opacity 0.75s ease;
}

.overlay:hover {
    opacity: 1;
}

.title {
    color: white;
    font-size: 20pt;
    line-height: 20pt;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style: none;
}

/* Scrollbar */
.scrollbar {
    margin: 15px 0 1em 0;
    height: 4px;
    background: #ccc;
    line-height: 0;
}
.scrollbar .handle {
    width: 100px;
    height: 100%;
    background: #F4B94B;
    cursor: pointer;
    position: relative;
}
.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}